<div class="list-group" *ngFor="let customer of customersList">
  <div class="list-group-item list-group-item-action active pos">
    {{customer.fullname|uppercase}}
    <span class="del-icon"><span>x</span></span>
  </div>
  <div class="list-group-item pos">
    {{customer.email|uppercase}}
    <span class="del-icon"><span>x</span></span>
  </div>
  <div class="list-group-item pos">
    {{customer.mobile|uppercase}}
    <span class="del-icon"><span>x</span></span>
  </div>
  <div class="list-group-item pos">
    {{customer.location|uppercase}}
    <span class="del-icon"><span>x</span></span>
  </div>
</div>


